{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class = "container mt-5">
    <h1 class="text-warning mb-5 border-bottom">COURSEWORK</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fab fa-html5 fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color">Build responsive websites with scalable back-end systems and modern front-end technologies.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-pencil-ruler fa-2x mb-3 i-color"></i>
            <h3>Software Development</h3>
            <p class="ss-color">Create customized software solutions with efficient algorithms and modular programming principles.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>Programming</h3>
            <p class="ss-color">Write clean, efficient, and modular code using Java, Python, C, and PHP.</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-database fa-2x mb-3 i-color"></i>
            <h3>DataBase Management</h3>
            <p class="ss-color">Design, optimize, and manage secure databases using MySQL for robust data handling.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-network-wired fa-2x mb-3 i-color"></i>
            <h3>Networking and System Knowledge</h3>
            <p class="ss-color">Configure networks, subnetting, and encryption protocols using Cisco Packet Tracer.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-robot fa-2x mb-3 i-color"></i>
            <h3>Technical Expertise</h3>
            <p class="ss-color">Utilize Git, Linux, and tools like VS Code for effective development workflows.</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-lightbulb fa-2x mb-3 i-color"></i>
            <h3>Learning and Collaboration</h3>
            <p class="ss-color">Continuously acquire new skills and contribute effectively to team-based projects and initiatives.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-puzzle-piece fa-2x mb-3 i-color"></i>
            <h3>Problem Solving</h3>
            <p class="ss-color">Analyze complex challenges and implement optimized solutions using algorithms and data structures.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-tasks fa-2x mb-3 i-color"></i>
            <h3>Project Management</h3>
            <p class="ss-color">Oversee project development, ensuring timely delivery, collaboration, and high-quality results.</p>
        </div>
    </div>
</div>

{% endblock %}