{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">CONTACT ME</h1>
    <div class="row text-white mb-5">
        <p class="mx-auto mb-5">
            Feel free to contact me via email or phone. You can also connect with me on LinkedIn or explore my projects on GitHub.
        </p>
        <div class="col sm-9 mb-5">
            <form action="">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Your Name</label>
                        <input type="text" class="form-control" id="inputName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Your Email</label>
                        <input type="email" class="form-control" id="inputEmail" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSubject">Your Subject</label>
                    <input type="text" class="form-control" id="inputSubject">
                </div>
                <div class="mb-3">
                    <label for="inputTextArea">Your message *</label>
                    <textarea class="form-control" id="inputTextArea" required></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Send</button>
            </form>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x i-color"></i>
                    <p>Ahmedabad, Gujarat, India</p>
                </li>
                <li>
                    <i class="fas fa-phone mt-4 fa-2x i-color"></i>
                    <p>+91 9924097838</p>
                </li>
                <li>
                    <i class="fa fa-envelope mt-4 fa-2x i-color"></i>
                    <p>pari.ranasaria@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="text-center mb-5">
    <a href="https://www.linkedin.com/in/pari-ranasaria-96049425a/" target="_blank">
        <i class="fab fa-linkedin i-color fa-2x mr-3 ml-5"></i>
    </a>
    <a href="https://github.com/pari-ranasaria28" target="_blank">
        <i class="fab fa-github i-color fa-2x mr-3 ml-5"></i>
    </a>
    <a href="https://www.instagram.com/__pariii__28/?hl=en" target="_blank">
        <i class="fab fa-instagram i-color fa-2x mr-3 ml-5"></i>
    </a>
</div>

{% endblock%}