{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class = "container mt-5">
    <h1 class="text-warning mb-5 border-bottom">CERTIFICATIONS</h1>
    <div class="row text-center text-white mb-5">
      <div class="col-sm-4">
          <div class="card h-100 d-flex flex-column">
              <img src="{% static 'core/images/certificate7.png' %}" class="card-img-top" alt="...">
              <div class="card-body flex-grow-1 d-flex flex-column">
                <h5 class="card-title">Flipkart Runway: Season 4</h5>
                <div class="mt-auto">
                <a href="https://unstop.com/certificate-preview/903f4c70-9e89-4948-9e74-9eedd690e21b" target="_blank" class="btn btn-primary">View certificate</a>
              </div>
            </div>
            </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100 d-flex flex-column">
            <img src="{% static 'core/images/certificate8.png' %}" class="card-img-top" alt="...">
            <div class="card-body flex-grow-1 d-flex flex-column">
              <h5 class="card-title">Micro-Certification - Welcome to ServiceNow</h5>
              <div class="mt-auto">
              <a href="https://drive.google.com/file/d/1-D9Kc_mQZ_dPIbmBkLQAF6uWkzmFSwRS/view" target="_blank" class="btn btn-primary">View certificate</a>
            </div>
          </div>
          </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100 d-flex flex-column">
          <img src="{% static 'core/images/certificate6.png' %}" class="card-img-top" alt="...">
          <div class="card-body flex-grow-1 d-flex flex-column">
            <h5 class="card-title">MCQ + Coding Assessment of Unstop Talent Park - Tech</h5>
            <div class="mt-auto">
            <a href="https://unstop.com/certificate-preview/db955a55-fe41-4ea5-9602-49da30c9b642" target="_blank" class="btn btn-primary">View certificate</a>
          </div>
        </div>
        </div>
  </div>
  </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <div class="card h-100 d-flex flex-column">
                <img src="{% static 'core/images/certificate1.png' %}" class="card-img-top" alt="...">
                <div class="card-body flex-grow-1 d-flex flex-column">
                  <h5 class="card-title">CodeCrafters Challenge 2025</h5>
                  <div class="mt-auto">
                  <a href="https://unstop.com/certificate-preview/1079e84f-6eed-4f1a-b20d-d56faf49eedb" target="_blank" class="btn btn-primary">View certificate</a>
                </div>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100 d-flex flex-column">
                <img src="{% static 'core/images/certificate2.png' %}" class="card-img-top" alt="...">
                <div class="card-body flex-grow-1 d-flex flex-column">
                  <h5 class="card-title">Participation in the Unstop Talent Park</h5>
                  <div class="mt-auto">
                  <a href="https://unstop.com/certificate-preview/361b597e-9e09-4ef6-996d-d353da844298" target="_blank" class="btn btn-primary">View certificate</a>
                </div>
              </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100 d-flex flex-column">
                <img src="{% static 'core/images/certificate3.png' %}" class="card-img-top" alt="...">
                <div class="card-body flex-grow-1 d-flex flex-column">
                  <h5 class="card-title">Flipkart GRiD 6.0 - Software Development Track</h5>
                  <div class="mt-auto">
                  <a href="https://unstop.com/certificate-preview/1bb2e511-56ed-42a5-8f92-6e81e8b425be" target="_blank" class="btn btn-primary">View certificate</a>
                </div>
              </div>
              </div>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <div class="card h-100 d-flex flex-column">
                <img src="{% static 'core/images/certificate4.png' %}" class="card-img-top" alt="...">
                <div class="card-body flex-grow-1 d-flex flex-column">
                  <h5 class="card-title">Course on HTML, CSS and JavaScript for Web Developers</h5>
                  <div class="mt-auto">
                  <a href="https://drive.google.com/file/d/18QmpOLrgtUVpIN01bCsRwWqw2HeQC-3t/view" target="_blank" class="btn btn-primary">View certificate</a>
                </div>
              </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100 d-flex flex-column">
                <img src="{% static 'core/images/certificate5.png' %}" class="card-img-top" alt="...">
                <div class="card-body flex-grow-1 d-flex flex-column">
                  <h5 class="card-title">Course on Python 101 for Data Science</h5>
                  <div class="mt-auto">
                  <a href="https://drive.google.com/file/d/1-92J7l6x3RFFU0zbbtGalp1ZOj-x3Sdg/view" target="_blank" class="btn btn-primary">View certificate</a>
                </div>
              </div>
              </div>
        </div>
        {% comment %} <div class="col-sm-4">
            <div class="card h-100 d-flex flex-column">
                <img src="{% static 'core/images/certificate6.png' %}" class="card-img-top" alt="...">
                <div class="card-body flex-grow-1 d-flex flex-column">
                  <h5 class="card-title">MCQ + Coding Assessment of Unstop Talent Park - Tech</h5>
                  <div class="mt-auto">
                  <a href="https://unstop.com/certificate-preview/db955a55-fe41-4ea5-9602-49da30c9b642" class="btn btn-primary">View certificate</a>
                </div>
              </div>
              </div>
        </div>
    </div> {% endcomment %}
</div>

{% endblock %}