{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">Java&nbsp&nbsp&nbsp<i class="fa-brands fa-java fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style = "width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Python&nbsp&nbsp&nbsp<i class="fab fa-python fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style = "width:90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">Django&nbsp&nbsp&nbsp<i class="fa-solid fa-d fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style = "width:80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">PHP&nbsp&nbsp&nbsp<i class="fab fa-php fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style = "width:50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">JavaScript&nbsp&nbsp&nbsp<i class="fab fa-js fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style = "width:50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">HTML5&nbsp&nbsp&nbsp<i class="fab fa-html5 fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style = "width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">CSS3&nbsp&nbsp&nbsp<i class="fab fa-css3-alt fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style = "width:80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80">80%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Bootstrap&nbsp&nbsp&nbsp<i class="fab fa-bootstrap fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style = "width:75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">RESTful API&nbsp&nbsp&nbsp<i class="fas fa-cloud fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style = "width:75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">MySQL&nbsp&nbsp&nbsp<i class="fas fa-database fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style = "width:80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">Git&nbsp&nbsp&nbsp<i class="fab fa-git-alt fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style = "width:70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Latex&nbsp&nbsp&nbsp<i class="fas fa-file-alt fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style = "width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">Visual Studio Code&nbsp&nbsp&nbsp<i class="fa-solid fa-newspaper fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style = "width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">C&nbsp&nbsp&nbsp<i class="fas fa-code fa-1x i-color margin-left:3px"></i></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style = "width:70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}